<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://imageanalyserai-webapp-gfabfxh7b3gadycn.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8d71d9cd-b235-4383-bf3c-fa7836a9a1a3/resourceGroups/image-analyser-ai-rg/providers/Microsoft.Web/sites/ImageAnalyserAI-WebApp</ResourceId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>imageanalyserai-webapp-gfabfxh7b3gadycn.scm.westeurope-01.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>ImageAnalyserAI-WebApp</DeployIisAppPath>
    <WebJobType>Triggered</WebJobType>
    <WebJobName>ImageAnalyzerAI.WebJobV2</WebJobName>
  </PropertyGroup>
</Project>